= form_for(current_user, html: {class: "container user-new", multipart: "true"}) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Register
        .user-name_image.row
          .user-name.col-md-10
            = f.text_field :name, placeholder: "Username", class: "user-name", required: :required
          .user-image.col-md-2{ style: "background-image: url(#{current_user.avatar});" }
            %button.btn.btn-primary change image
            = f.file_field :avatar, id: "avatar_image"
        = f.email_field :email, placeholder: "E-Mail(必須)", class: "user-email"
        = f.password_field :password, placeholder: "パスワード(変更する場合のみ)", autocomplete: "off",class: "user-password", required: :required
        = f.password_field :password_confirmation, placeholder: "パスワードを再入力(変更する場合のみ)", autocomplete: "off", class: "user-password", required: :required
      .col-md-12
        %h4 Member of
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :group, placeholder: "Member"
        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_field :profile, placeholder: "Profile"
        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            = f.text_field :works, placeholder: "Works"
    .row.text-center.user-btn
      = f.submit "save", class: "btn btn-lg btn-primary btn-block"
