.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to image_tag(@user.avatar, class: "avatar_image"), user_path(@user.id)
      .media-body
        %h4#top-aligned-media.media-heading
          Member of
          %span.label.label-default.project-number
            = @protos.length
            %i Projects
        .proto-user
          %span.degree #{@user.group}
        .row
          .col-md-6
            %h4 Profile
            %p #{@user.profile}
          .col-md-6
            %h4 Works
            %p #{@user.works}
.container.proto-list
  .row
    = render partial: "layouts/prototypes" , collection: @protos, as: :proto
.text-center
  = paginate @protos
