.col-sm-4.col-md-3.proto-content
  - if user_signed_in? && proto.user_id == current_user.id
    = link_to "edit",edit_prototype_path(proto)
    = link_to "delete", proto, method: :delete
  .thumbnail
    = link_to image_tag(proto.images.main.first.photo), prototype_path(proto)
    .caption
      %h3= proto.title
      .proto-meta
        .proto-user
          = proto.user.email
        .proto-posted
      %ul.proto-tag-list.list-inline
        - proto.tags.each do |tag|
          %li
            = link_to tag, prototypes_tag_path(tag.name), class: 'button btn btn-default'
